/node_modules
/.venv
/backend/.venv
/data
Notes.txt
*.ipynb
/thunder_tests

__pycache__/

backend/instance/
backend/.env
backend/app.db
backend/config.py
backend/ERRORS.TXT
frontend/env

frontend.bat
frontendTerminal.bat
backend.bat
backendTerminal.bat
backendShell.bat
!/envHelpers/*
.vscode/settings.json
thunder-tests/thunderActivity.json
thunder-tests/thunderCollection.json
thunder-tests/thunderclient.json
thunder-tests/thunderEnvironment.json
