/node_modules
/.venv
/backend/.venv
/data
Notes.txt
*.ipynb

__pycache__/

backend/instance/
backend/.env
backend/app.db
backend/config.py
backend/ERRORS.TXT
frontend/env

frontend.bat
frontendTerminal.bat
backend.bat
backendTerminal.bat
backendShell.bat
!/envHelpers/*
